.container {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    black 15%,
    #000205cc 70%,
    rgba(255, 255, 255, 0.336)
  );
  z-index: 0;
}

.container__log_login {
  width: 240px;
}
.container__log {
  position: relative;
  left: 50%;
  width: 240px;
}
.container__log2 {
  width: 240px;
  border-radius: 50%;
}

.container__box {
  margin-top: 30px;
  width: 396px;
  height: 298px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #fff;
}
.container__box2 {
  margin-top: 30px;
  width: 396px;
  height: 298px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background-color: #fff;
  box-shadow: -5px -5px 30px 5px rgb(17, 1, 1), 5px 5px 30px 5px rgb(2, 2, 20);
  padding-top: 75px;
}

.container__box--title {
  font-size: 18px;
  line-height: 22px;
  margin-top: 60px;
  padding: 20px;
}
.container__box--input {
  height: 22px;
  padding: 10px;
  margin-top: 15px;
  width: 85%;
}

.container__box--input:focus {
  outline: none;
}
.container__box--button {
  height: 45px;
  margin-top: 20px;
  background-color: #000205;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  width: 363px;
}
.container__box--button:focus {
  outline: none;
}
.container__box--titles {
  font-size: 12px;
}
.links {
  display: flex;
  justify-content: center;
  /* margin-top: 5px; */
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
}
.nav {
  padding-top: 20px;
  background-color: #000205f3;
  height: 1cm;
}
.login_title {
  margin-top: 40px;
  padding-top: 5px;
  font-size: 0.6cm;
}

.table {
  font-family: "Advent Pro";
  font-size: 22px;
  border-radius: 25px;
}
.td {
  padding: 0.25em 0.5em;
  text-align: left;
  border-radius: 25px;
}

.td {
  background-color: #eee;
  height: 2cm;
  border-radius: 25px;
  /* transform: rotate(0.3deg); */
}
.th {
  background-color: rgba(0, 0, 7, 0.993);
  color: #fff;
  border-radius: 25px;
  /* transform: rotate(0.5deg); */
}
.tr {
  border-radius: 25px;
  height: 2cm;
  border-radius: 25px;
  /* transform: rotate(0.3deg); */
}
.zigzag {
  border-collapse: separate;
  border-spacing: 0.25em 1em;
}
.tr:nth-child(odd) {
  /* transform: rotate(0.5deg); */
  background-color: aquamarine;
}

.container2 {
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-image: url("/home/ashique/Documents/route/public/themejpeg.png");
}
.new {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
}
.container3 {
  padding-top: 100px;
}
.container6 {
  background-color: rgb(61, 60, 60);
  height: 100%;
  width: 100%;
  float: left;
}
.floatleft {
  background-color: rgb(3, 0, 0);
  height: 100vh;
  width: 20%;
}
.wel {
  margin-top: 300px;

  margin-left: 850px;
}

/* .last {
  font-family: "Kalam";
  font-size: 22px;
} */
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}
